/* * {
  border: 1px solid black;
} */

/* ===== Navbar ===== */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.logo-title {
  display: flex;
}

.logo-title img {
  width: 20%;
}

.nav-links  {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


